{{>partials/header}}

{{#banner}}  {{!condicional do mustache; Basicamente #banner=true, ou seja, se banner existe}}
<section class="banner" style="background-image: url('images/{{background}}')">{{title}}</section>
{{!O valor do atributo "background" fica no objeto banner, assim como o atributo "title" na linha a seguir}}
<h2>{{title}} disponíveis para adoção</h2>
{{/banner}}
    
<div class="container list">

{{#list}} {{! Mustache pega o array list, do controller e usa as definições abaixo para criar os elementos}}
     <div class="item">
        <img src="images/{{image}}" class="item--image" />
        <div class="item--name">{{name}}</div>
        <div class="item--color">Cor: {{color}}</div>
        <div class="item--genre">Gênero: {{sex}}</div>
    </div> 
{{/list}}

{{^list}}
    <div class="container no-list">
        <h2>Não há animais com as caracteristicas indicadas.</h2>
    </div>
{{/list}}
      
</div>

{{>partials/footer}}